        <li id="post-<%= post._id %>">
            <% if(locals.user && locals.user.id == post.user.id){ %>
                <a class="delete-comment-button" href="/posts/destroy/<%= post._id %>">X</a>
            <% } %>
            <div id="post-content"><p> <%= post.content %> </p></div>
            <small><p> <%= post.user.name %> </p></small>
            <%- include('_comment'); -%>
        </li>