<h1>Home</h1>
<div>
    <% if(locals.user){ %>
        <form action="/posts/create" id="post-form" method="POST">
            <textarea name="content"  cols="30" rows="3" required placeholder="Type Post..."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>
    <section id="posts-list-cointainer">
        <ul>
            <% for(post of posts){ %>
                <%- include('_post'); -%>
            <% } %>
        </ul>
    </section>
</div>

<section id="friends-section">
    <% if(locals.user){ %>
        <% if(locals.user){ %>
            <h3>Friends</h3>
            <% for(friend of friends){ %>
                <a href="/users/profile/<%= friend.receiver._id %>"><%= friend.receiver.name %></a>
                <br>
            <% } %>
            <br>
        <% } %>
        <h3>All Users</h1>
        <% for(u of all_users){ %>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            <br>
        <% } %>
    <% } %>
</section>

<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>