<link rel="stylesheet" href="/css/profile.css">

<% if(locals.user){ %>
    <% if(curr_user.avatar){ %>
        <img src="<%= curr_user.avatar %>" alt="<%= curr_user.name %>" width="100">
    <% }else{ %>
        <img src="https://www.flaticon.com/svg/vstatic/svg/1077/1077114.svg?token=exp=1617723212~hmac=9ec2b6df17e1b217d64544e07f40ec5a" alt="<%= curr_user.name %>" width="100">
    <% } %>
<% } %>

<% if(locals.user && (locals.curr_user.id == locals.profile_user.id)){ %>
    <div>
        <form action=" /users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
            <input type="text" name="name" required placeholder="Your Name" value="<%= profile_user.name %>">
            <input type="email" name="email" required placeholder="Your Email" value="<%= profile_user.email %>">
            <input type="file" name="avatar">
            <input type="submit" value="Update">
        </form>
    </div>
<% }else{ %>
    <p><%= curr_user.name %></p>
    <p><%= curr_user.email %></p>

    <% if(locals.status == 0){ %>
        <p><a href="/friends/send-request/?id=<%= locals.curr_user._id %>">Send Request</a></p>
    <% }else if(status == 1){ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Cancle Request</a></p>
    <% }else if(status == 3){ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Unfriend</a></p>
    <% }else{ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Accept</a></p>
    <% } %>
<% } %>

<% if(locals.user.email != locals.curr_user.email){ %>
    <%- include('_chat_box') -%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="/js/chat_engine.js"></script>

    <% if(locals.user){ %>
        <script>
            new ChatEngine('user-chat-box', '<%= locals.user.email %>', '<%= locals.curr_user.email %>');
        </script>
    <% } %>
<% } %>