<link rel="stylesheet" href="/css/profile.css">
<% if(locals.user && (locals.curr_user.id == locals.profile_user.id)){ %>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    <div>
        <form action=" /users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
            <input type="text" name="name" required placeholder="Your Name" value="<%= profile_user.name %>">
            <input type="email" name="email" required placeholder="Your Email" value="<%= profile_user.email %>">
            <input type="file" name="avatar">
            <input type="submit" value="Update">
        </form>
    </div>
<% }else{ %>
    <p><%= curr_user.name %></p>
    <p><%= curr_user.email %></p>

    <% if(locals.status == 0){ %>
        <p><a href="/friends/send-request/?id=<%= locals.curr_user._id %>">Send Request</a></p>
    <% }else if(status == 1){ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Cancle Request</a></p>
    <% }else if(status == 3){ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Unfriend</a></p>
    <% }else{ %>
        <p><a href="/friends/friend-action/?id=<%= locals.curr_user._id %>&status=<%= locals.status %>">Accept</a></p>
    <% } %>
<% } %>